.vscode/*
.ipynb_checkpoints/*
__pycache__/*
GrainModelling-local-DIRTY.ipynb
GrainModelling-colab.ipynb
output/*
padding.py
synth/patchers/debug.maxpat
models/collins-crude/*
models/collins-crude-mfccs/*
models/collins-crude-spectral/*
models/collins-crude-spectral-mfccs/*
models/sweep-crude/*
models/sweep-crude-mfccs/*
models/sweep-crude-spectral/*
models/sweep-crude-spectral-mfccs/*
models/drumloop2-crude/*
models/sweep-mfccs/*
models/sweep-spectral/*
models/drumloop2-mfccs/*
models/drumloop2-spectral/*
models/drumloop2-crude-mfccs/*
models/drumloop2-crude-spectral/*
models/drumloop2-crude-spectral-mfccs/*
offline.py
models/*
# *.ipynb
output/*
MC-FP-master.jupyterlab-workspace
collins-bpe.ipynb
collins-umap-bpe.ipynb
drumloop2-bpe.ipynb
drumloop2-delta-umap.ipynb
drumloop2-similarity.ipynb
GenerationDebug.ipynb
model.png
Plots-debug.ipynb
Plots.ipynb
Training-drumloop.ipynb
Training.ipynb
TrainingDebug_UMAP-aztec.ipynb
TrainingDebug_UMAP-collins.ipynb
TrainingDebug_UMAP-flux.ipynb
TrainingDebug_UMAP-pulsex-Copy1.ipynb
TrainingDebug-aztec.ipynb
TrainingDebug-collins.ipynb
TrainingDebug-drumloop-delta-EM.ipynb
TrainingDebug-drumloop-delta-umap-2.ipynb
TrainingDebug-drumloop.ipynb
TrainingDebug-pulsex-beatdetect.ipynb
TrainingDebug-pulsex.ipynb
TrainingDebug-sweep.ipynb
TrainingDebug.ipynb
TrainingDebug-drumloop-delta-umap-2.ipynb
