.vscode/*
.ipynb_checkpoints/*
__pycache__/*
GrainModelling-local-DIRTY.ipynb
GrainModelling-colab.ipynb
output/*
padding.py
synth/patchers/debug.maxpat
models/collins-crude/*
models/collins-crude-mfccs/*
models/collins-crude-spectral/*
models/collins-crude-spectral-mfccs/*
models/sweep-crude/*
models/sweep-crude-mfccs/*
models/sweep-crude-spectral/*
models/sweep-crude-spectral-mfccs/*
models/drumloop2-crude/*
models/sweep-mfccs/*
models/sweep-spectral/*
models/drumloop2-mfccs/*
models/drumloop2-spectral/*
models/drumloop2-crude-mfccs/*
models/drumloop2-crude-spectral/*
models/drumloop2-crude-spectral-mfccs/*