.vscode/*
.ipynb_checkpoints/*
__pycache__/*
GrainModelling-local-DIRTY.ipynb
GrainModelling-colab.ipynb
output/*
padding.py
synth/patchers/debug.maxpat
models/collins-crude/*
models/collins-crude-mfccs/*
models/collins-crude-spectral/*
models/collins-crude-spectral-mfccs/*
models/sweep-crude/*
models/sweep-crude-mfccs/*
models/sweep-crude-spectral/*
models/sweep-crude-spectral-mfccs/*
models/drumloop2-crude/*
models/sweep-mfccs/*
models/sweep-spectral/*
models/drumloop2-mfccs/*
models/drumloop2-spectral/*
models/drumloop2-crude-mfccs/*
models/drumloop2-crude-spectral/*
models/drumloop2-crude-spectral-mfccs/*
offline.py
*.ipynb
output/*
MC-FP-master.jupyterlab-workspace
model.png
models/aztec/aztec_accuracy.png
models/aztec/aztec_clusters.png
models/aztec/aztec_config.json
models/aztec/aztec_frames.json
models/aztec/aztec_history
models/aztec/aztec_labels.csv
models/aztec/aztec_loss.png
models/aztec/aztec.keras
models/drumloop2-bpe/drumloop2-bpe_clusters.png
models/drumloop2-bt/drumloop2-bt_accuracy.png
models/drumloop2-bt/drumloop2-bt_clusters.png
models/drumloop2-bt/drumloop2-bt_config.json
models/drumloop2-bt/drumloop2-bt_frames.json
models/drumloop2-bt/drumloop2-bt_history
models/drumloop2-bt/drumloop2-bt_labels.csv
models/drumloop2-bt/drumloop2-bt_loss.png
models/drumloop2-bt/drumloop2-bt.keras
models/drumloop2-delta/drumloop2-delta_accuracy.png
models/drumloop2-delta/drumloop2-delta_clusters.png
models/drumloop2-delta/drumloop2-delta_config.json
models/drumloop2-delta/drumloop2-delta_frames.json
models/drumloop2-delta/drumloop2-delta_history
models/drumloop2-delta/drumloop2-delta_labels.csv
models/drumloop2-delta/drumloop2-delta_loss.png
models/drumloop2-delta/drumloop2-delta.keras
models/drumloop2-delta-em/drumloop2-delta-em_clusters.png
models/drumloop2-delta-em/drumloop2-delta-em_labels.csv
models/drumloop2-delta-umap/drumloop2-delta-umap_clusters.png
models/drumloop2-delta-umap/drumloop2-delta-umap_labels.csv
models/drumloop2-delta-umap/drumloop2-delta-umap.keras
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs_accuracy.png
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs_clusters.png
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs_config.json
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs_frames.json
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs_history
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs_labels.csv
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs_loss.png
models/drumloop2-spectral-mfccs/drumloop2-spectral-mfccs.keras
models/drumloop2-timefix/drumloop2-timefix_accuracy.png
models/drumloop2-timefix/drumloop2-timefix_clusters.png
models/drumloop2-timefix/drumloop2-timefix_config.json
models/drumloop2-timefix/drumloop2-timefix_frames.json
models/drumloop2-timefix/drumloop2-timefix_history
models/drumloop2-timefix/drumloop2-timefix_labels.csv
models/drumloop2-timefix/drumloop2-timefix_loss.png
models/drumloop2-timefix/drumloop2-timefix.keras
models/drumloop2-tiny/drumloop2-tiny_accuracy.png
models/drumloop2-tiny/drumloop2-tiny_clusters.png
models/drumloop2-tiny/drumloop2-tiny_config.json
models/drumloop2-tiny/drumloop2-tiny_frames.json
models/drumloop2-tiny/drumloop2-tiny_history
models/drumloop2-tiny/drumloop2-tiny_labels.csv
models/drumloop2-tiny/drumloop2-tiny_loss.png
models/drumloop2-tiny/drumloop2-tiny.keras
models/drumloop3/drumloop3_accuracy.png
models/drumloop3/drumloop3_clusters.png
models/drumloop3/drumloop3_config.json
models/drumloop3/drumloop3_frames.json
models/drumloop3/drumloop3_history
models/drumloop3/drumloop3_labels.csv
models/drumloop3/drumloop3_loss.png
models/drumloop3/drumloop3.keras
models/flux/flux_accuracy.png
models/flux/flux_clusters.png
models/flux/flux_history
models/flux/flux_labels.csv
models/flux/flux_loss.png
models/pulsex-4th-bt/pulsex-4th-bt_accuracy.png
models/pulsex-4th-bt/pulsex-4th-bt_clusters.png
models/pulsex-4th-bt/pulsex-4th-bt_config.json
models/pulsex-4th-bt/pulsex-4th-bt_frames.json
models/pulsex-4th-bt/pulsex-4th-bt_history
models/pulsex-4th-bt/pulsex-4th-bt_labels.csv
models/pulsex-4th-bt/pulsex-4th-bt_loss.png
models/pulsex-4th-bt/pulsex-4th-bt.keras
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs_accuracy.png
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs_clusters.png
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs_config.json
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs_frames.json
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs_history
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs_labels.csv
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs_loss.png
models/pulsex-4th-spectral-mfccs/pulsex-4th-spectral-mfccs.keras
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs_accuracy.png
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs_clusters.png
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs_config.json
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs_frames.json
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs_history
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs_labels.csv
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs_loss.png
models/pulsex-8th-crude-spectral-mfccs/pulsex-8th-crude-spectral-mfccs.keras
models/pulsex_umap/pulsex_umap_accuracy.png
models/pulsex_umap/pulsex_umap_clusters.png
models/pulsex_umap/pulsex_umap_config.json
models/pulsex_umap/pulsex_umap_frames.json
models/pulsex_umap/pulsex_umap_history
models/pulsex_umap/pulsex_umap_labels.csv
models/pulsex_umap/pulsex_umap_loss.png
models/pulsex_umap/pulsex_umap.keras
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs_accuracy.png
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs_clusters.png
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs_config.json
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs_frames.json
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs_history
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs_labels.csv
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs_loss.png
models/pulsex_umap-4th-spectral-mfccs/pulsex_umap-4th-spectral-mfccs.keras
models/sweep-spectral-mfccs/sweep-spectral-mfccs_accuracy.png
models/sweep-spectral-mfccs/sweep-spectral-mfccs_clusters.png
models/sweep-spectral-mfccs/sweep-spectral-mfccs_config.json
models/sweep-spectral-mfccs/sweep-spectral-mfccs_frames.json
models/sweep-spectral-mfccs/sweep-spectral-mfccs_history
models/sweep-spectral-mfccs/sweep-spectral-mfccs_labels.csv
models/sweep-spectral-mfccs/sweep-spectral-mfccs_loss.png
models/collins-8th-crude-spectral/collins-8th-crude-spectral_accuracy.png
models/collins-8th-crude-spectral/collins-8th-crude-spectral_clusters.png
models/collins-8th-crude-spectral/collins-8th-crude-spectral_config.json
models/collins-8th-crude-spectral/collins-8th-crude-spectral_frames.json
models/collins-8th-crude-spectral/collins-8th-crude-spectral_history
models/collins-8th-crude-spectral/collins-8th-crude-spectral_labels.csv
models/collins-8th-crude-spectral/collins-8th-crude-spectral_loss.png
models/collins-8th-crude-spectral/collins-8th-crude-spectral.keras
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs_accuracy.png
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs_clusters.png
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs_config.json
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs_frames.json
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs_history
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs_labels.csv
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs_loss.png
models/collins-8th-crude-spectral-mfccs/collins-8th-crude-spectral-mfccs.keras
models/collins-bpe/collins-bpe_clusters.png
models/collins-bpe/collins-bpe_labels.csv
models/collins-8th/collins-8th_accuracy.png
models/collins-8th/collins-8th_clusters.png
models/collins-8th/collins-8th_config.json
models/collins-8th/collins-8th_frames.json
models/collins-8th/collins-8th_history
models/collins-8th/collins-8th_loss.png
models/collins-8th/collins-8th.keras
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs_accuracy.png
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs_clusters.png
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs_config.json
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs_frames.json
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs_history
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs_labels.csv
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs_loss.png
models/collins_umap-8th-crude-spectral-mfccs/collins_umap-8th-crude-spectral-mfccs.keras
models/collins_umap-bpe/collins_umap-bpe_clusters.png
models/collins_umap-bpe/collins_umap-bpe_labels.csv
models/collins_bd/collins_bd_accuracy.png
models/collins_bd/collins_bd.keras
models/collins_bd/collins_bd_clusters.png
models/collins_bd/collins_bd_config.json
models/collins_bd/collins_bd_frames.json
models/collins_bd/collins_bd_history
models/collins_bd/collins_bd_loss.png
